# phpstorm project files
.idea
# windows thumbnail cache
Thumbs.db
#/vendor
# Mac DS_Store Files
.DS_Store
# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

web/imgs/avatar/*
config/fb.php

web/imgs/avatar/4.jpg

web/imgs/event/2.jpg

web/imgs/avatar/5.jpg

*.jpg

*.png

*.jpg

*.jpg

config/db.php
